.container1{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.back{
  position: absolute;
  top: 10px; /* 以容器左上角为原点，距离容器顶部 10 像素 */
  left: 10px; /* 以容器左上角为原点，距离容器右侧 10 像素 */
}
/* .tooltip-box{
  position:absolute;
  padding: 0px 0px 0px 0px;
  line-height: 30px;
  border-radius: 4px;
  color: #ffffff;
  z-index: 100;
} */
.tip-container{
  position: relative;
  width: 300px;
  max-height: 200px;
  padding: 10px;
  background-color: rgba(240, 126, 19, 0.6);
  border-radius: 10px;
}
.close{
  position: absolute;
  top:0px;
  right:5px;
  background-color: rgba(0, 0, 0, 0); /* 将背景颜色设为透明 */;
  color:white;
  cursor:pointer;
  /* height: 10px;
  width: 10px; */
  font-size: 10;
  z-index: 1;
  /* 设置边框颜色与父组件背景色相同 */
  border: rgba(0, 0, 0, 0);
  border-radius:6px;
}
.close:hover {
  background-color: yellow; /* 鼠标悬停时显示的颜色 */
  color: red; /* 设置文字颜色 */
}
.title{
  margin-top:0px;
  text-align:center;
  width:100%;
  padding:0 0;
  color: rgb(95, 90, 84);
}
.explain {
  width: 100%;
  max-height: 100px;
  font-size: 15.5px;
  overflow-y: auto;
}
.title-text{
  position: relative;
  width: 300px;
  height:70px;
  padding: 10px;
  background-color: rgba(240, 126, 19, 0.6);
  border-radius: 10px;
}
.option{
    position: absolute;
    left: 15%;
    bottom: 15%;
    background-color: #dbe91700; /* 将背景颜色设为透明 */;
    color:rgb(241, 238, 238);
    cursor:pointer;
    height: 30px;
    width: 90px;
    font-size: 14px;
    z-index: 2;
    /* 设置边框颜色与父组件背景色相同 */
    /* border:  #dfee0b00; */
    border-radius:6px; 
}
.option:hover {
    background-color: #b0f70b; /* 鼠标悬停时显示的颜色 */
    color: #f1dfdf; /* 设置文字颜色 */
  }
  .option1{
    position: absolute;
    right: 15%;
    bottom: 15%;
    background-color: #dbe91700; /* 将背景颜色设为透明 */;
    color:rgb(241, 238, 238);
    cursor:pointer;
    height: 30px;
    width: 90px;
    font-size: 14px;
    z-index: 2;
    /* 设置边框颜色与父组件背景色相同 */
    /* border:  #dfee0b00; */
    border-radius:6px; 
}
.option1:hover {
    background-color: #b0f70b; /* 鼠标悬停时显示的颜色 */
    color: #f1dfdf; /* 设置文字颜色 */
  }
  .progress-bar-box .loading {
    position: absolute;
    left: 50%;
    color: #ffffff8c !important;
    font-size: 14px;
    font-family: 'nav-font';
    font-weight: 200;
    transform: translate(-40%, 5px);
}

.author {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, -8px);
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: #ffffff8c !important;
}
/* 加载动画 */
.progress-bar-box {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9999999999999;
  left: 50%;
  top: 50%;
  background-color: #8594ad;
  transform: translate(-50%, -50%);
  animation: fadeOut 4s forwards;
}
@keyframes fadeOut{
  0% { opacity: 1; }
  90% { opacity: 1;}
  100%{ opacity: 0; display: none;}
}
.progress-bar-box .progress-bar-line {
  margin-top: 100px;
  width: 250px;
  position: absolute;
  width: 250px;
  z-index: 9999999999999;
  left: 50%;
  top: 50%;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.3);
  transform: translate(-50%, -50%);
}


.progress {
  padding: 3px;
  background: rgba(42, 151, 224, 0.25);
  border-radius: 6px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar {
  height: 8px;
  background-color: #ee303c;
  border-radius: 4px;
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-striped .progress-bar {
  background-color: #82ccf3;
  width: 100%;
  background-image: linear-gradient(45deg, #82ccf3 25%, transparent 25%, transparent 50%, #82ccf3 50%, #82ccf3 75%, transparent 75%, transparent);
  animation: progressAnimationStrike 2s;
}

@keyframes progressAnimationStrike {
  from {
      width: 0;
  }
  to {
      width: 100%;
  }
}